@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: black;
}

body {
    margin: 0;
    overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

* {
  -ms-overflow-style: none;
}

